{{ form_start(form) }}

{{ form_row(form.q) }}

<h4>Name of Tournament</h4>
{{ form_row(form.nomT) }}

<h4>Emplacement</h4>
{{ form_row(form.emplacementT) }}

<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}